body {
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
  }

ul {
    list-style-type: none;
    padding-left: 0;
    width: 400px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

input[type="text"], button {
    width: 40%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

li {
    background-color: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    transform: scale(1.5); 
    margin-left: 10px;
}

button.delete-task {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button.delete-task:hover {
    background-color: #e60000;
  }
  